<!DOCTYPE html>
<html>

  <head>
  <title>Youtube Trends </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-red.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body id="myPage">


<!-- Navigation bar -->
<div class="w3-top">
 
  <div class="w3-bar w3-theme-d2 w3-left-align">
  
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  
  <a href="/" class="w3-bar-item w3-button w3-black">Youtube Trends</a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button">Data Visualisation <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-card-4 w3-bar-block">
            <a href="/toplist" class="w3-bar-item w3-button">Line Chart</a>
            <a href="/bubblechart" class="w3-bar-item w3-button">Bubble Chart</a>
            <a href="/geomap1" class="w3-bar-item w3-button">Geo Map-Viz1</a>
            <a href="/geomap2" class="w3-bar-item w3-button">Geo Map-Viz2</a>
            
      </div>
    </div>
    <a href="/youtube-data-json" class="w3-bar-item w3-button w3-hide-small w3-hover-white">API</a>
  </div>
</div> 

<!-- Image Header -->
 
<header class="w3-container w3-black">
  <p> </p>
</header>

<div class="w3-display-container w3-animate-opacity w3-center">
  <div class="div2">Padding 80 </div>
  <marquee  behavior="alternate" direction="left">
      
      <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMEVjwmCNpE6Czz8J1BIYHaVKTayFYaF_Tho0wjWsU_A&s" alt="Youtube Picture"
      style="width:15%; height:15%; object-fit: cover;">
    </marquee>
  </div>
</div>

  <footer class="w3-container w3-black">
    <p> </p>
  </footer>
 

<!-- Team Container -->
<div class="w3-container w3-padding-30 w3-center" id="team">
<h2>Project 3 - Team Members</h2>

<!--Team Members-->
<div class="w3-row"><br>

<div class="w3-quarter w3-text-red">
  <h3>Caroline Grant</h3>

  <div class="w3-text-black">
    <p>Data Cleaning</p>
    <p>Data Visualisation</p>
  </div>
  
</div>

<div class="w3-quarter w3-text-red">

  <h3>Helena Chen</h3>
  <div class="w3-text-black"> 
  
    <p>Data Visualisation</p> 
</div> </div>
<div class="w3-quarter w3-text-red">

  <h3>Jancel Dawn Adiong</h3>
  <div class="w3-text-black"> 
   
    <p>Data Visualisation</p> 
</div> </div>
<div class="w3-quarter w3-text-red">
  
  <h3>Priyavarthani Somangili Subramanian</h3>
  <div class="w3-text-black">
  <p>Front End & Back End </P> 
</div></div>


</div>
</div>


<!-- Footer -->
<footer class="w3-container w3-black">
  <!-- <div class="w3-half"> -->
    <h3>Data Visualisation Tools and Libraries</h3>
    <h3>
      <img src="https://www.pngfind.com/pngs/m/62-626208_python-logo-png-transparent-background-python-logo-png.png" alt="Python" style="width:10%" class="w3-circle w3-hover-opacity" >
      <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/800px-JavaScript-logo.png" alt="Javascipt" style="width:10%" class="w3-circle w3-hover-opacity">
      <img src = "https://cdn.freebiesupply.com/logos/thumbs/2x/leaflet-1-logo.png" alt="Leaflet" style="width:20%" class="w3-circle w3-hover-opacity">
      <img src = "https://www.kindpng.com/picc/m/188-1882416_flask-python-logo-hd-png-download.png" alt="Leaflet" style="width:10%" class="w3-circle w3-hover-opacity">
      <img src = "https://caefn.com/wp-content/uploads/2019/06/chartjs-e1560684806991.png" alt="Chart.js" style="width:10%" class="w3-circle w3-hover-opacity">
      <img src = "https://www.vectorlogo.zone/logos/d3js/d3js-ar21.png" alt="D3.js" style="width:10%" class="w3-circle w3-hover-opacity">
      
      
    </h3>
    
      <p> </p>
      <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
        <a class="w3-circle w3-theme w3-red " href="#myPage"><span class="w3-xlarge">
        <i class="fa fa-chevron-circle-up"></i></span></a>
      </div>
    
</footer>

</body>
</html>

